.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  margin-top: 60px;
}

.project_heading {
  color: #fff;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 30px;
}

.project_heading span {
  font-weight: bold;
}

.project_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_tech {
  width: 100%;
  margin-bottom: 20px;
}

.project_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.project_buttons button {
  flex: 0.3;
  transition: 0.3s;
  padding: 10px;

  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.project_buttons button:hover {
  background: #ed41c7;
  color: #fff;
  font-weight: bold;
}

.project_images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project_images a {
  margin-right: 10px;
  margin-bottom: 10px;
}

.project_single_img {
  height: 180px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_single_img img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .project_images a {
    margin-bottom: 10px;
  }

  .project_heading {
    font-size: 24px;
    line-height: 30px;
  }

  .project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    margin-top: 20px;
  }
}
