.project-header {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: "Poppins" , sans-serif;
  font-weight: normal;
  line-height: 66px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
}




.button-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.project-list{
    width: 1092px;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}
.button-list > button{
  margin:  0 20px;
}


.project-image{
    width: 273px ;
    height: 160px;
    
   
}
.overlay {
    display: block;
    position: absolute;
    z-index: 9;
    opacity: 0.8;
    background: #285f3b;
    
  }
  @media only screen and (max-width: 768px){
    .project-list{
      display: block;
    }
    .project-image{
      display: block;
      width: 100%;
      height: 160px;
    }
  }