body {
  background-color: aqua;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.all_contents {
  margin-left: 26%;
}

@media only screen and (max-width: 768px) {
  .all_contents {
    margin-left: 0;
  }
}
